@media screen and (max-width: 1234px) {
  header ul {
    font-size: 14px;
    gap: 30px;
  }

  .name1 {
    margin-left: 10vh;
  }
  .cards{
    gap: 20px;
   
  }

  .card-one{
    width: 25vw;
    height: 40vh;
  }
 .card-two{
    width: 25vw;
    height: 40vh;
 }

 .card-three{
    width: 25vw;
    height: 40vh;
 }
}

.mobile {
  display: none;
}
@media screen and (max-width: 1015px) {
  #menu {
    display: none;
  }
  #menu2 {
    background-color: #222;
    flex-direction: column;
    position: fixed;
    width: 200px;
    gap: 10px;
    right: 0;
    margin-top: 8vh;
    margin-right: 5vw;
    color: white;
    border-radius: 4%;
    padding: 10px;
  }

  #menu2 a:hover {
    color: rgb(0, 217, 255);
  }

  #menu2.ativar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60vw;
    background: #222;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin: 10px;
    position: absolute;
    right: 0;
    margin-right: 11vw;
  }

  .mobile::before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 12px;
    background-color: #fff;
    box-shadow: 0 4px #fff, 0 -4px;
    gap: 5px;
    margin-right: 5px;
    transition: transform 0.3s;
  }

  .mobile.ativar::before {
    transform: rotate(90deg);
  }
  
  .Avatar{
    display: none;
  }

  .card-one{
    width: 28vw;
    height: 40vh;
  }
 .card-two{
    width: 28vw;
    height: 40vh;
 }

 .card-three{
    width: 28vw;
    height: 40vh;
 }
 
}

@media screen and (max-width: 646px) {
    .container-card {
        display: flex;
        margin-top: 20vh;
        margin-left: 4vh;
        transition: 0.5s ease-out;
       
      }
     
      .cards{
        gap: 1vh;
      }
      .card-one{
        width: 36vw;
        height: 22vh;
      }
     .card-two{
        width: 36vw;
        height: 22vh;
     }
    
     .card-three{
        width: 36vw;
        height: 22vh;
     }

     .bar {
       
        width: 400px;
       
       
      }

      #menu2{
        margin-right: 1vh;
      }
      
      
}

@media screen and (max-width: 497px) {
    .container-card {
        display: flex;
        height: 60vh;
        width: 60vw;
        margin-top: 20vh;
        margin-left: 4vh;
        transition: 0.5s ease-out;
       
      }
      .desc-card{
        display: none;
      }

      .name1{
        margin-left: 2vh;
      }
      .Avatar{
        display: none;
      }

      .bar {
       
        width: 300px;
       
       
      }

      .card-one{
        width: 36vw;
        height: 22vh;
    
      }
     .card-two{
        width: 36vw;
        height: 22vh;
     }
    
     .card-three{
        width: 36vw;
        height: 22vh;
    }
     


}