@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins';
    overflow-x: hidden;
    
    
}
body {
    background-color: rgb(1, 1, 19);

}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    
    
}

header {
    height: 5vh;
    width: 100vw;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}


header h1{
    display: flex;
    margin-left: 6vh;
    color: white;
    
}

header h1 .Port{
    color: rgb(0, 217, 255);
}

header ul {
    display: flex;
    text-decoration: none;
    gap: 90px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: white;
    width: 80vw;
    justify-content: center;
    align-items: center;

}

header ul li a {
    color: inherit;
}

header li :hover {
    font-size: 17px;
    transition: 1s;
    color: rgb(0, 217, 255);
    border-bottom: 1px solid rgb(0, 217, 255);
}

ul li a.cor {
    color: rgb(0, 217, 255);
    font-size: 18px;
    
}



.container-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    width: 100vw;
    
    
    margin-top: 20vh;
    margin-left: 15vh;
    color: white;
    gap: 20px;
}

.span-card{
    font-size: 25px;
}

.name-card {
    font-size: 55px;
    
}

.desc-card {
font-size: 30px;
display: flex;
gap: 10px;
}

.Frontend {
    color: rgb(0, 217, 255);
    border-right:2px solid;
    padding-right: 3px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-flex;
}

.button-card{
    background-color: transparent;
    height:40px;
    width: 120px;
    color: aqua;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    border-color: rgb(2, 126, 126);
    cursor: pointer;
}

.type-animation {
    animation: sim 500ms infinite normal, typing 4s 1s normal forwards , slide 6s steps(2) infinite;
}


@keyframes sim {
    from {
        border-right-color: rgb(0, 217, 255);;
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes typing {
    from {
        width:0;
    }
    to {
        width: 12.4em;
    }
}

::-webkit-scrollbar{
    width: 1px;
    
    
}


/* Segundo container */

.container-two{
    height: 70vh;
    width:  100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}

.Titulo{
    color: rgb(0, 217, 255);
    margin-top: 4vh;
    border-bottom: 1px solid  rgb(0, 217, 255);
    
}

.card-container{
    width: 90vw;
    height: 40vh;
    margin-top: 10vh;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    

}

.Avatar{
    
    position: absolute;
    display: flex;
    width: 206px;
    height: 206px;
    border: 1px solid  rgb(0, 217, 255);
    border-radius: 50%;
    z-index: -1;
    
    
}
.eu{
    flex-wrap: wrap;
    margin-left: 15vw;
    color: rgb(116, 116, 116);
}

/* Terceiro container */

.container-three{
    height: 80vh;
    width:  100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
   
}

.titulo-three{
    color: rgb(0, 217, 255);
    margin-top: 4vh;
    border-bottom: 1px solid  rgb(0, 217, 255);
    
}


.cards{
    display: flex;
    margin-top: 12vh;
    gap: 60px;
    
}


.card-one{
    width: 18vw;
    height: 44vh;
    background-color: rgb(2, 2, 35);
    display: flex;
    position: relative;
    overflow: hidden;  
    flex-direction: column;
    justify-content:start;
    align-items: center;
  
    
   

}

.card-one span:first-of-type{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background:linear-gradient(to right, transparent, rgb(0, 217, 255));
    animation: animar1 2s linear infinite;
    
}

@keyframes animar1{
    0%{
transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

.card-one span:nth-of-type(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background:linear-gradient(to bottom, transparent, rgb(0, 217, 255));
    animation: animar2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animar2{
    0%{
transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

.card-one span:nth-of-type(3){
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background:linear-gradient(to left, transparent, rgb(0, 217, 255));
    animation: animar3 2s linear infinite;
}

@keyframes animar3{
    0%{
transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
 }


.card-one span:last-of-type{
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background:linear-gradient(to top, transparent, rgb(0, 217, 255));
    animation: animar4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animar4{
    0%{
transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}

.card-two{
    width: 18vw;
    height: 44vh;
    display: flex;
    background-color:  rgb(2, 2, 35);
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content:start;
    align-items: center;
  
}

.card-two span:first-of-type{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background:linear-gradient(to right, transparent, rgb(0, 217, 255));
    animation: animar1 2s linear infinite;
    overflow: hidden;
    
}

@keyframes animar1{
    0%{
transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

.card-two span:nth-of-type(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background:linear-gradient(to bottom, transparent, rgb(0, 217, 255));
    animation: animar2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animar2{
    0%{
transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

.card-two span:nth-of-type(3){
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background:linear-gradient(to left, transparent, rgb(0, 217, 255));
    animation: animar3 2s linear infinite;
}

@keyframes animar3{
    0%{
transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
 }


.card-two span:last-of-type{
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background:linear-gradient(to top, transparent, rgb(0, 217, 255));
    animation: animar4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animar4{
    0%{
transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}

.card-three{
    width: 18vw;
    height: 44vh;
    background-color:  rgb(2, 2, 35);
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content:start;
    align-items: center;
  
}

.card-three span:first-of-type{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background:linear-gradient(to right, transparent, rgb(0, 217, 255));
    animation: animar1 2s linear infinite;
    overflow: hidden;
}

@keyframes animar1{
    0%{
transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

.card-three span:nth-of-type(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background:linear-gradient(to bottom, transparent, rgb(0, 217, 255));
    animation: animar2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animar2{
    0%{
transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

.card-three span:nth-of-type(3){
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background:linear-gradient(to left, transparent, rgb(0, 217, 255));
    animation: animar3 2s linear infinite;
}

@keyframes animar3{
    0%{
transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
 }


.card-three span:last-of-type{
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background:linear-gradient(to top, transparent, rgb(0, 217, 255));
    animation: animar4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animar4{
    0%{
transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}

figure {
    display: flex;
    height: 40px;
    width: 40px;
    margin-top: 2vh;
    
    
}

figure img {
    opacity: 0.8;
}

.namecard{
    color: rgb(0, 217, 255);
    font-size: 24px;
    font-style: italic;
    margin-top: 1vh;
    display: flex;
}

.desc-card-three{
    color: rgba(255, 255, 255, 0.734);
    display: flex;
    text-align: center;
    font-size: 15px;
    margin: 8px;
    
}

/* QUARTO CONTAINER */

.container-four{
    height: 50vh;
    width:  100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}

.skills{
    width: 160px;
    height: 160px;
    /* background-color: aqua; */
    position: relative;
}

.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: inset 6px 6px 10px -1 rgba(0, 250, 21, 0.811);

}

.inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid rgb(240, 240, 240);
    
}


